.topnav {
  overflow: hidden;
  background-color: whitesmoke;
  width: 100%;
}

.logo {
  width: 6%;
}

.topnav a {
  float: right;
  color: #180808;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;

}

table {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  padding: 20px;
  text-align: left;
  border-spacing: 60px;
}

.sec1-img {
  width: 100%;
}

.s1-container {
  position: relative;
  text-align: left;
  color: white;
  font-family: Arial;
  font-size: xx-large;
}

.centered {
  position: absolute;
  top: 10%;
  right: 22%;
  padding: 20px;
  font-size: 300%;
  /* transform: translate(-50%, -50%); */
}

.h4 {
  position: absolute;
  top: 23%;
  right: 10%;
  padding: 20px;
  /* transform: translate(-50%, -50%); */
}

.p {
  position: absolute;
  top: 30%;
  right: 16%;
  padding: 20px;
  font-size: large;
  /* transform: translate(-50%, -50%); */
}

.s1-btn {
  position: absolute;
  top: 43%;
  right: 33%;
  padding: 20px;
  font-size: large;
  background-color: white;
  color: rgb(238, 84, 84);
  border: white;

}

.container {
  position: absolute;
  left: 30px;
  bottom: 30;
  top: 300px;
  max-width: 320px;
  padding: 16px;

}

input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 1px solid white;

}

.btn {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  /* cursor: pointer; */
  width: 355px;
  opacity: 0.9;

}

.btn:hover {
  opacity: 1;
}

.container-s2 {
  background-color: white;
  height: 400px;
}

.sec2 {
  background-color: white;
}

.g1 {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 80px;
  top: 1100px;
}

.g2 {
  position: absolute;
  background-color: crimson;
  width: 240px;
  height: 400px;
  left: 420px;
  top: 1100px;
  border-radius: 15px;
}

.g3 {
  position: absolute;
  background-color: rgb(69, 105, 221);
  width: 240px;
  height: 400px;
  left: 720px;
  top: 1100px;
  border-radius: 15px;
}

.g4 {
  position: absolute;
  background-color: rgb(32, 19, 22);
  width: 240px;
  height: 400px;
  left: 1020px;
  top: 1100px;
  border-radius: 15px;
}

.sec2-img {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 70px;
  top: 5px;
  background-color: white;
  padding: 5px;
}

.sec3 {
  background-color: white;
  position: relative;

}

.sec4 {
  background-color: rgb(241, 111, 111);
  color: white;
  text-align: center;
  height: 90%;
  padding: 20px;
}

.s4-h {
  font-size: 200%;
  font-family: Arial;
}

.sec4-img {
  width: 50px;
  height: 50px;
}

.sec7 {
  background-color: white;
}

.s7-h {
  color: rgb(241, 111, 111);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 300%;
  text-align: center;
}

.s7-p {
  text-align: center;
  font-size: 150%;
}

.s7-img {
  width: 350px;
  height: 300px;
  padding: 2px;
}

.s9-h {
  color: rgb(241, 111, 111);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 300%;
  text-align: left;
  padding-left: 70px;
}

.sec5 {
  background-color: white;
  padding: 80px;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  position: relative;
}

.s5-red {
  position: absolute;
  background-color: rgb(241, 111, 111);
  border-radius: 50%;
  width: 200px;
  height: 160px;
  top: 50px;
  bottom: 50px;
  left: 600px;
}

.s5-blue {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border-color: rgb(74, 142, 206);
  border: 15px solid rgb(74, 142, 206);
  ;
  width: 100px;
  height: 80px;
  top: 300px;
  bottom: 5px;
  left: 850px;
}

.s5-text {
  position: absolute;
  bottom: 200px;
  left: 800px;
  top: 500px;

}

.s5-img {
  position: relative;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sec6 {
  background-color: rgb(222, 218, 226);
  padding: 80px;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
}

.s6-column1 {

  width: 45%;
  padding-left: 50px;
  padding-right: 50px;
  /* padding-top: 50px; */
  /* padding-bottom: 10px; */
  height: 500px;
  background-color: white;
  text-align: left;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.s6-column2 {

  width: 50%;
  /* padding-left: 100px;  */
  padding-right: 10px;
  /* padding-top: 50x; */
  /* padding-bottom: 50px; */
  height: 500px;
  background-color: white;

}

.s6-img {
  height: 500px;
  width: 600px;
}

.s6-btn {
  background-color: rgb(22, 19, 19);
  color: white;
  padding: 16px 20px;
  border: none;
  width: 200px;

}

.circle6 {
  position: relative;
  background-color: rgb(241, 111, 111);
  border-radius: 50%;
  width: 160px;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 5px;
  margin-left: 2px;
  margin-bottom: 10px;
  /* padding-left: 100px;
    padding-right: px; */

}

.circle-white {
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 180px;
  height: 90px;
  padding-top: 2px;
  padding-bottom: 50px;
  /* margin-top:px; */
  margin-left: 1000px;
  margin-bottom: 30px;
  margin-top: 5px;
  border: 5px solid rgb(222, 218, 226);
  /* padding-left: 100px;
    padding-right: px; */

}

.sec8 {
  background-color: rgb(222, 218, 226);
  padding: 80px;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
}

.s8-btn {
  background-color: rgb(241, 111, 111);
  color: white;
  padding: 16px 20px;
  border: none;
  /* cursor: pointer; */
  width: 200px;
  /* opacity: 0.9; */

}

.circle {
  position: relative;
  background-color: rgb(241, 111, 111);
  border-radius: 50%;
  width: 120px;
  height: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* padding-left: 100px;
    padding-right: px; */
  margin-top: 300px;
}

hr {
  border: 6px solid rgb(241, 111, 111);
  background-color: rgb(241, 111, 111);
  /* margin-bottom: 25px; */


}

.sec9 {
  background-color: white;
  padding: 50px;
  height: 100%;
}

.row {
  display: flex;
}

.s8-column1 {
  float: left;
  width: 50%;

  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 500px;
  background-color: rgb(222, 218, 226);
  text-align: left;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.s8-column2 {
  /* position: relative ; */

  /* float: left; */
  width: 50%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 200x;
  padding-bottom: 50px;
  height: 500px;
  background-color: white;
  text-emphasis-position: bottom;
}

.column1 {
  float: left;
  width: 1200px;
  padding: 30px;
  padding-left: 50px;
  height: 300px;
  background-color: rgb(240, 234, 234);
  text-align: left;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.column2 {
  float: center;
  width: 500px;
  padding: 30px;
  padding-left: 20px;

  height: 300px;
  background-color: rgb(209, 96, 96);
}

.img-icon {
  float: center;
  width: 40px;
  height: 50px;
  padding-top: 100px;
  padding-right: 8px;
  padding-left: 50px;


}

footer {
  background-color: rgb(78, 73, 73);
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  section {
    width: 100%;
    height: auto;
  }
}